---
import SidebarBrand from "@/components/SidebarBrand.astro";
import SidebarNav from "@/components/SidebarNav.astro";
import SidebarFooter from "@/components/SidebarFooter.astro";
---

<aside data-sidebar aria-label="Modules and account" class="flex flex-col bg-surface border-r border-default">
  <SidebarBrand />
  <SidebarNav />
  <SidebarFooter />
</aside>
<div id="drawerBackdrop" aria-hidden="true"></div>
