---
export function getStaticPaths() {
  return [
    { params: { course: "pen200" }, props: { target: "../../pen200" } },
    { params: { course: "bscp" }, props: { target: "../../bscp" } },
    { params: { course: "web200" }, props: { target: "../../web200" } },
    { params: { course: "web300" }, props: { target: "../../web300" } },
  ];
}

interface Props {
  target: string;
}

const { target } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content={`0;url=${target}`} />
    <title>Redirecting</title>
  </head>
  <body>
    <a href={target}>Continue</a>
  </body>
</html>
